<app-user-profile [firstName]="fName" [lastName]="lName"></app-user-profile>
<br>
<form>
  <div class="row">
    <div class="col">
      <h2>First Name</h2>
      <input type="text" class="form-control" placeholder="First name" #fname>
      <button type="button" class="btn btn-primary" (click)="enterFirstName(fname.value)">Enter First Name</button>
    </div>
    <div class="col">
      <h2>Last Name</h2>
      <input type="text" class="form-control" placeholder="Last name" #lname>
      <button type="button" class="btn btn-primary" (click)="enterLastName(lname.value)">Enter Last Name</button>
    </div>
  </div>
</form>